@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/* Шапка главной */

header {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 1200px;
  margin: 0;
  padding: 0 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #3F5E72;
  background-color: #ffffff;
}

/* Все кнопки на макете */

.button {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  border-radius: 4px;
}

/* Шапка */

header {
  height: 64px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 892px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 50%;

}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  justify-content: flex-start;
  max-width: 40%;
}

.navigation-link {
  display: block;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-user-link {
  display: block;
  box-sizing: border-box;
  width: 44px;
  padding: 22px 12px 22px 12px;
}

.icon-favorite {
  box-sizing: border-box;
  text-align: center;
  padding: 4px 5px 4px 5px;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 400;
  width: 20px;
  height: 20px;
  line-height: 10px;
  border-radius: 50%;
  background-color: #6C9E42;
  position: relative;
  top: -62px;
  left: 22px;

}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  bottom: -1px;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
  z-index: 1;
}

.navigation-user-button {
  display: block;
  background-color: #756157;
  box-sizing: border-box;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
}

.navigation-user-button:hover {
  background-color: #615048;
}

.navigation-user-button:focus {
  background-color: #615048;
}

.navigation-user-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
  ;
}

.main-index {
  text-align: center;
}

/* Геройский баннер */

.hero-banner {
  position: relative;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

}

.hero-banner::before {
  background-image: url(../images/hero-decoration-white.svg);
  position: absolute;
  top: 428px;
  right: 0;
  width: 1200px;
  height: 57px;
  background-color: transparent;
  content: "";
}

.hero-banner-logo {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 81px 371px;
}

.hero-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
}

.hero-text {
  margin-top: 0;
  padding: 0;
}

.hero {
  padding: 69px 200px;
  margin: 0;

}

/* Преимущества */

.advantages {
  font-size: 18px;
  line-height: 21px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style-type: none;
}

.advantages-container {
  background-color: #82B3D3;
  color: #ffffff;
  box-sizing: border-box;
  margin: 0;
  padding: 92px 85px;
  max-width: 400px;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-title {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto 62px;
  max-width: 175px;
  text-align: center;
}

.advantages-title::before {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 2px;
  background-color: #FFFFFF;
  opacity: 30%;
  content: "";
}

.advantages-description {
  margin-top: 0;
}

.sub-advantages-list {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sub-advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  box-sizing: border-box;
  padding: 103px 85px;
  max-width: 400px;
}

.sub-advantages-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.sub-advantages-title {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0 auto 62px;
  max-width: 175px;
}

.sub-advantages-title::before {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: 30%;
  content: "";
}

.sub-advantages-description {
  margin-top: 0;
}

.sub-benefits-list {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sub-benefits-item {
  background-color: rgba(131, 179, 211, 0.12);
  box-sizing: border-box;
  padding: 182px 80px 85px;
  max-width: 400px;
}

.sub-benefits-item:nth-child(1) {
  background-image: url("../images/advantage-hotel.svg");
  background-repeat: no-repeat;
  background-position: 162.5px 80px;
}

.sub-benefits-item:nth-child(2) {
  background-color: #FFFFFF;
  background-image: url("../images/advantage-food.svg");
  background-repeat: no-repeat;
  background-position: 162.5px 80px;
}

.sub-benefits-item:nth-child(3) {
  background-image: url("../images/advantage-gift.svg");
  background-repeat: no-repeat;
  background-position: 162.5px 80px;
}

.sub-benefits-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0 auto 30px;
  padding: 0;
}

.sub-benefits-description {
  margin-top: 0;
}

/* Секция с поиском на главной */

.search {
  margin: 0;
  padding: 96px 20px;
}

.search-title {
  margin: 0 auto 20px auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-text {
  margin-top: 0;
  margin-bottom: 54px;
}

.search-link {
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;

}

.search-link:hover {
  background-color: #615048;
}

.search-link:focus {
  background-color: #615048;
}

.search-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* Секция с подпиской на главной */

.subscription {
  color: #ffffff;
  background-color: #3F5E72;
  background-image: url("../images/sedona-background-image.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  padding: 96px 258px;
}

.subscription-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-text {
  margin-top: 0;
  margin-bottom: 54px;
  padding: 0 100px 0 100px;
}

/* Форма с подпиской на обеих страницах */

.subscription-form {
  display: grid;
  grid-template-columns: 452px 232px;
  gap: 0;
  margin: 0;
  padding: 0;
}

.subscription-input {
  box-sizing: border-box;
  width: 452px;
  padding: 14px 20px 14px 20px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subcription-button {
  font-family: "PT Sans";
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  background-color: #82B3D3;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.subcription-button:hover {
  background-color: #68A2CA;
}

.subcription-button:focus {
  background-color: #68A2CA;
}

.subcription-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

/* Подвал на обеих страницах */

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 40px 70px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.social-item {
  margin: 0;
  padding: 0 10px;
}

.social-image {
  fill: #83B3D3;
  width: 100%;
  height: 100%;
}

.social-image:hover {
  fill: #68A2CA;
}

.social-image:focus {
  fill: #68A2CA;
}

.social-image:active {
  fill: rgba(104, 162, 202, 0.3);
}

.phone-link {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.phone-link:hover {
  color: #756157;
}

.phone-link:focus {
  color: #756157;
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.copyright {
  max-width: 150px;
  fill: #000000;
}

.copyright:hover {
  fill: #756157;
}

.copyright:focus {
  fill: #756157;
}

.copyright:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* див с шапкой каталога и фильтрами */

.catalog-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-image {
  background-color: #3F5E72;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  padding: 35px 70px 35px;
  margin: 0;
}

.catalog-filters-group {
  margin: 0 70px 0 0;
  border: 0;
  padding: 0;
}

.catalog-filters-left .catalog-filters-group:last-child {
  margin: 0;
}

.catalog-filters-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 0;
  padding: 0;
  max-width: 40%;
}

.catalog-filters-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 0;
  padding: 0;
  margin: 0;
  max-width: 60%;
}

.catalog-filters-item {
  margin: 0 0 16px 0;
  padding: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  content: "";
}

.control:hover {
  opacity: 60%;
}

.control-input:focus + .control-mark {
  border: 3px solid #83B3D3;
  width: 20px;
  height: 20px;
}

.control:active .control-mark {
  opacity: 60%;
}

.inner-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  max-width: 1060px;
}

.inner-header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px 0;
  padding: 0;
}

/*Хлебные крошки*/

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 40px 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  display: block;
  margin-right: 28px;
}

.breadcrumbs-link {
  padding: 0;
  fill: #ffffff;
  cursor: pointer;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
  fill: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
  fill: rgba(255, 255, 255, 0.3)
}

.breadcrumbs-item::after {
  position: absolute;
  display: block;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  top: 0;
  right: -17px;
  width: 8px;
  height: 20px;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-filters-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0 0 32px 0;
}

.catalog-filters-list {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*Ползунок с ценой*/

.range-slider {
  display: grid;
  grid-template-columns: 143px 143px;
  grid-template-rows: auto;
  column-gap: 2px;

}

.range-slider-input-left {
  border: none;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 40px 12px 20px;
  margin: 0;
  max-width: 143px;
  max-height: 48px;
}

.range-slider-input-right {
  border: none;
  box-sizing: border-box;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 40px 12px 20px;
  margin: 0;
  max-width: 143px;
  max-height: 48px;
}

.range-slider-input-right::-webkit-outer-spin-button,
.range-slider-input-right::-webkit-inner-spin-button,
.range-slider-input-left::-webkit-outer-spin-button,
.range-slider-input-left::-webkit-inner-spin-button {
  display: none;
}

.range-slider-input-left:focus,
.range-slider-input-right:focus,
.range-slider-input-left:active,
.range-slider-input-right:active {
  max-width: 143px;
  max-height: 48px;
}

.range-slider-container-left {
  position: relative;
  margin: 0;
  padding: 0;
}

.range-slider-container-right {
  position: relative;
  margin: 0;
  padding: 0;
}

.range-slider-container-left::before {
  content: "от";
  color: #000000;
  opacity: 30%;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 106px;
}

.range-slider-container-right::before {
  content: "до";
  color: #000000;
  opacity: 30%;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 106px;
}

.range-slider-input-left:focus,
.range-slider-input-right:focus {
  border: 3px solid #83B3D3;
}

.range-slider-input-left:active,
.range-slider-input-right:active {
  border: 2px solid #000000;
}

.range-scale {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  position: relative;
  height: 4px;
  margin-top: 48px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.catalog-filters-submit-button {
  background-color: #82B3D3;
  border: none;
  padding-left: 50px;
  padding-right: 50px;

}

.catalog-filters-submit-button:hover {
  background-color: #68A2CA;
}

.catalog-filters-submit-button:focus {
  background-color: #68A2CA;
}

.catalog-filters-submit-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filters-reset-button {
  background-color: transparent;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
}

.catalog-filters-reset-button:hover {
  opacity: 60%
}

.catalog-filters-reset-button:focus {
  border: solid 3px #83B3D3;
}

.catalog-filters-reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.filters-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 56px;
}

/* Результат поиска */

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 70px 40px 70px;
}

.sorting-left {
  max-width: 50%;
}

.filter-result {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: 6px 0 6px 0;
}

/*Отобразить как*/

.sorting-right {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  justify-content: space-between;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  box-sizing: border-box;
  width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 0 40px 0 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../images/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.view-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}

.view-list-item {
  margin-right: 8px;
}

.view-list-item:last-child {
  margin-right: 0;
}

.view-list-link {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 0 0 0;
  border: 2px solid #E5E5E5;
  height: 48px;
  width: 48px;
  border-radius: 4px;
}

.view-list-image {
  fill: #000000;
  margin: 0 auto;
  padding: 17px 16px 17px 16px;
}

.view-list-link:hover {
  border: 2px solid #000000;
}

.view-list-link:focus {
  border: 2px solid #68A2CA;
}

.view-list-link:active {
  border: 2px solid #000000;
}

/*Карточки*/

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0 70px 0 70px;
  list-style-type: none;
  padding: 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  ;
}

.card-image {
  object-fit: contain;
}

.card-link {
  text-decoration: none;
}

.card-title {
  margin-top: 0;
  margin-bottom: 16px;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 300px;
}

.card-type {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  width: 50%;
}

.card-price {
  grid-column: 2;
  grid-row: 3;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  width: 50%;
}

.card-button {
  margin-top: 0;
  margin-right: 20px;
  margin-left: 0;
  margin-bottom: 16px;
  background-color: #756157;
  box-sizing: border-box;
  width: 140px;
  padding: 8px 20px 8px 20px;
}

.card-button:hover {
  background-color: #615048;
}

.card-button:focus {
  background-color: #615048;
}

.card-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
  ;
}

.card-favorite {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 16px;
  background-color: #82B3D3;
  border: 0;
  box-sizing: border-box;
  width: 140px;
  padding: 8px 18px 8px 18px;

}

.card-favorite:hover {
  background-color: #68A2CA;
}

.card-favorite:focus {
  background-color: #68A2CA;
}

.card-favorite:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.card-in-favorite {
  background-color: #7DB54F;
}

.card-in-favorite:hover {
  background-color: #6C9E42;
}

.card-in-favorite:focus {
  background-color: #6C9E42;
}

.card-in-favorite:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.card-stars {
  background-image: url("../images/star.svg");
  background-repeat: space;
  box-sizing: border-box;
  width: 140px;
  margin: 10px 16px 10px 0;
}

.stars-4 {
  max-width: 25%;
}

.stars-3 {
  max-width: 20%;
}

.stars-2 {
  max-width: 10%;
}

.card-rating {
  background-color: #F2F2F2;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 140px;
  margin-top: 0;
  padding: 9px 22px 8px 23px;
  border: none;
  border-radius: 4px;
  ;
}

/* Пагинация */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  list-style-type: none;
  padding: 40px 70px 60px 60px;
  margin: 0;
}

.pagination-item {
  box-sizing: border-box;
  color: #000000;
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 4px;
  margin-right: 6px;

}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  width: inherit;
  height: inherit;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
  border: solid 1px #82B3D3;
  border-radius: 4px;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);

}

.pagination-current,
.pagination-current-link {
  background-color: #F2F2F2;
  color: #000000;
  border-radius: 4px;
}

.pagination-else,
.pagination-else-link {
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
}

.pagination-current-link:hover,
.pagination-current-link:focus,
.pagination-current-link:active {
  background-color: #F2F2F2;
  color: #000000;
  border-radius: 4px;
  border: none;
}

.pagination-else-link:hover,
.pagination-else-link:focus,
.pagination-else-link:active {
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
  border: none;
}

/* Секция с подпиской в каталоге */

.subscription-catalog {
  text-align: center;
  margin: 0;
  padding: 96px 258px 104px;
}

.subscription-catalog-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-catalog-text {
  margin-top: 0;
  margin-bottom: 54px;
  padding: 0 100px 0 100px;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  width: 717px;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 64px 70px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  background-image: url(../images/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0 40px 64px 0;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-form {
  display: grid;
  grid-template-columns: 137px auto auto auto;

}

.modal-label {
  box-sizing: border-box;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 0;
}

.modal-label-date-of-arrival,
.modal-label-date-of-leaving {
  grid-column: 1 / 2;
}

.modal-input {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 12px 20px;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 440px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.modal-input[type="text"]:hover {
  background-color: #E6E6E6;
}

.modal-input[type="text"]:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-input[type="text"]:active {
  box-sizing: border-box;
  border: 2px solid #000000;
  color: #F2F2F2;
}

.modal-input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6)
}

.modal-input-text-wrap {
  position: relative;
  grid-column: 2 / 5;
}

.modal-input-text-wrap::after {
  content: '';
  background-image: url(../images/date.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 22px;
  top: 16px;
}

.modal-label-number {
  margin-right: 40px;
}

.modal-label-number-with-tooltip {
  margin-right: 82px;
}

.modal-input[type="number"] {
  box-sizing: border-box;
  width: 110px;
  height: 48px;
  text-align: center;
  padding: 14px 0 14px 0;
  margin: 0;
}

.inpute-number-wrap {
  position: relative;
}

.inpute-number-button {
  box-sizing: border-box;
  border: none;
  margin: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.more-number {
  position: absolute;
  right: 14px;
  top: 14px;
}

.less-number {
  position: absolute;
  left: 14px;
  top: 14px;
}

.minus, .plus {
  width: 100%;
  height: 100%;
  fill: rgba(117, 97, 87, 0.3)
}

.minus:hover, .plus:hover {
  fill: #000000;
}

.minus:focus, .plus:focus {
  fill: #000000;
  border: 3px solid #82B3D3;
  border-radius: 4px;
}

.minus:active, .plus:active {
  fill: #000000;
  opacity: 20%;
}

.modal-tip {
  font-size: 16px;
  line-height: 21px;
  grid-column: 2 / 5;
  padding: 4px 20px 23px 20px;
}

.error {
  color: #FF5757;
}

.modal-input-number-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-column: 1 / 5;
}

.modal-tooltip {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.tooltip-toggle {
  display: block;
  border: none;
  background-color: #83B3D3;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.tooltip-icon {
  width: 100%;
  fill: #ffffff;
  display: block;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  box-sizing: border-box;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  left: -118px;
  top: 30px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:before {
  content: '';
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-button-submit {
  background-color: #83B3D3;
  grid-column: 1 / 5;
  grid-row: 6 / 7;
  margin-top: 48px;
}

.modal-button-submit:hover {
  background-color: #68A2CA;
}

.modal-button-submit:focus {
  background-color: #68A2CA;
}

.modal-button-submit:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.modal-input[type="number"]::-webkit-outer-spin-button,
.modal-input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
