@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}

/* Шапка главной */

header {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  margin: 0;
  padding: 0px 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #3F5E72;
  background-color: #ffffff;
}

/* Все кнопки на макете */

.button {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Навигация в шапке */

.navigation {
  display: flex;
  width: 892px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 50%;

}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 268px;
  list-style-type: none;
  justify-content: flex-start;
  max-width: 40%;
}

.navigation-link {
  display: block;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-user-link {
  display: block;
  box-sizing: border-box;
  width: 44px;
  padding: 22px 12px 22px 12px;
}

/* Навигация в шапке */

.navigation-user-button {
  display: block;
  background-color: #756157;
  box-sizing: border-box;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.main-index {
  text-align: center;
}

/* Геройский баннер */

.hero-banner {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

}

.hero-banner-logo {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 81px 371px;
}

.hero-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
}

.hero-text {
  margin-top: 0;
  padding: 0;
}

.hero {
  margin: 69px 200px;
  padding: 0;

}

/* Преимущества */

.advantages {
  font-size: 18px;
  line-height: 21px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style-type: none;
}

.advantages-container {
  box-sizing: border-box;
  margin: 0;
  padding: 92px 85px;
  max-width: 400px;
}

.advantages-item {
  background-color: #82B3D3;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto 62px;
  max-width: 175px;
  text-align: center;
}

.advantages-description {
  margin-top: 0;
}

.sub-advantages-list {
  background-color: #83B3D3;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sub-advantages-item {
  box-sizing: border-box;
  padding: 103px 85px;
  max-width: 400px;
}

.sub-advantages-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0 auto 62px;
  max-width: 175px;

}

.sub-advantages-description {
  margin-top: 0;
}

.sub-benefits-list {
  background-color: #83B3D3;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sub-benefits-item {
  box-sizing: border-box;
  padding: 80px 85px;
  max-width: 400px;
}

.sub-benefits-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0 auto 30px;
  padding: 0;
}

.sub-benefits-description {
  margin-top: 0;
}

/* Секция с поиском на главной */

.search {
  margin: 0;
  padding: 96px 304px;
}

.search-title {
  margin: 0 auto 20px auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-text {
  margin-top: 0;
  margin-bottom: 54px;
}

.search-link {
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;

}

/* Секция с подпиской на главной */

.subscription {
  color: #ffffff;
  background-color: #3F5E72;
  background-image: url("../images/sedona-background-image.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  padding: 96px 258px 104px;
}

.subscription-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-text {
  margin-top: 0;
  margin-bottom: 54px;
  padding: 0 100px 0 100px;
}

/* Форма с подпиской на обеих страницах */

.subscription-form {
  display: grid;
  grid-template-columns: 452px 232px;
  gap: 0;
  margin: 0;
  padding: 0;
}

.subscription-input {
  box-sizing: border-box;
  width: 452px;
  padding: 14px 20px 14px 20px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #000000;
}

.subcription-button {
  font-size: 20px;
  line-height: 36px;
  border: none;
  background-color: #82B3D3;
}

/* Подвал на обеих страницах */

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 40px 70px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.social-link {
  margin: 0;
  padding: 0 10px;
}

.phone-link {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.copyright {
  max-width: 150px;
}

/* див с шапкой каталога и фильтрами */

.catalog-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-image {
  background-color: #3F5E72;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  padding: 35px 70px 35px;
  margin: 0;
}

.catalog-filters-group {
  margin-top: 0;
  margin-right: 70px;
  border: 0;
  padding: 0;
}

.catalog-filters-left {
  display: flex;
  justify-content: flex-start;
  border: 0;
  padding: 0;
}

.catalog-filters-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 0;
  padding: 0;
  margin: 0;
}

.catalog-filters-item {
  margin: 0 0 16px 0;
  padding: 0;
}

.control-input {
  margin: 0 16px 0 0;
}

.inner-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  max-width: 1060px;
}

.inner-header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 40px 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  margin: 0;
  padding-right: 28px;
}

.catalog-filters-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0 0 32px 0;
}

.catalog-filters-list {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.range-slider {
  display: grid;
  grid-template-columns: 143px 143px;
  grid-template-rows: auto;
  gap: 2px;
}

.range-slider-input {
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px 12px 20px;
  margin: 0;
}

.catalog-filters-submit-button {
  background-color: #82B3D3;
  border: none;
  padding-left: 50px;
  padding-right: 50px;

}

.catalog-filters-reset-button {
  background-color: transparent;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
}

.filters-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 56px;
}

/* Результат поиска */

.filter-result-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px 40px 70px;
}

.filter-result {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}

/*Отобразить как*/

.select-control {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  width: 292px;
}

.view-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  max-width: 160px;
  padding: 0;
  margin: 0;
}

.view-list-link {
  padding: 14px 12px 14px 12px;
  margin: 0 8px 0 0;
}

/*Карточки*/

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0 70px 0 70px;
  list-style-type: none;
  padding: 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #E6E6E6;
}

.card-image {
  object-fit: contain;
}

.card-link {
  text-decoration: none;
}

.card-title {
  margin-top: 0;
  margin-bottom: 16px;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 300px;
}

.card-type {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  width: 50%;
}

.card-price {
  grid-column: 2;
  grid-row: 3;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  width: 50%;
}

.card-button {
  margin-top: 0;
  margin-right: 20px;
  margin-left: 0;
  margin-bottom: 16px;
  background-color: #756157;
  box-sizing: border-box;
  width: 140px;
  padding: 8px 20px 8px 20px;
  margin-right: 20px;
}

.card-favorite {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 16px;
  background-color: #82B3D3;
  border: none;
  box-sizing: border-box;
  width: 140px;
  padding: 8px 20px 8px 20px;

}

.card-stars {
  background-image: url("../images/star.svg");
  background-repeat: repeat;
  box-sizing: border-box;
  width: 140px;
  margin-top: 0;
  margin-right: 16px;
}

.card-rating {
  background-color: #F2F2F2;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 140px;
  margin-top: 0;
  padding: 9px 22px 8px 23px;
}

/* Пагинация */
.pagination {
  display: flex;
  justify-content: start;
  list-style-type: none;
  margin: 40px 70px 60px 60px;
  padding: 0;
}

.pagination-item {
  color: #000000;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  text-align: center;

}

.pagination-link {
  background-color: #82B3D3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-else {
  background-color: #ffffff;
  color: #000000;
}

/* Секция с подпиской в каталоге */

.subscription-catalog {
  text-align: center;
  margin: 0;
  padding: 96px 258px 104px;
}

.subscription-catalog-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-catalog-text {
  margin-top: 0;
  margin-bottom: 54px;
  padding: 0 100px 0 100px;
}
