@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;

}

.page-container {
  margin: 0 auto;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}

/* Шапка главной */

header {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0px 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

/* Все кнопки на макете */

.button {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

/* Навигация в шапке */

.navigation {
  display: flex;
  width: 892px;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 450px;

}

.navigation-user-list {
  margin: 0;
  padding: 0;
  margin-left: auto;
  max-width: 350px;

}

.navigation-link {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

/* Навигация в шапке */

.navigation-user-button {
  background-color: #756157;
}

.main-index {
  text-align: center;
}

/* Геройский баннер */

.hero-banner {
  color: #000000;
  background-color: #ffffff;
  background-image: url("/images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

}

.hero-banner-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-right: 371px;
  padding-left: 371px;
  padding-bottom: 81px;
}

.hero-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 620px;
  margin: 0 auto;
}

.hero {
  padding: 69px 274px 90px 275px;
}

.hero-text {
  width: 651px;
  margin: 0 auto;
  margin-top: 25px;

}

/* Преимущества */

.advantages {
  font-size: 18px;
  line-height: 21px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.advantages-container {
  box-sizing: border-box;
  margin: 0;
  padding: 92px 85px;
  max-width: 400px;
}

.advantages-item {
  background-color: #82B3D3;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
}

.advantages-description {
  margin-top: 0;
}

.sub-advantages {
  background-color: #83B3D3;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sub-advantages-item {
  box-sizing: border-box;
  padding: 103px 85px;
  max-width: 400px;
}

.sub-advantages-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 0;
}

.sub-advantages-description {
  margin-top: 0;
}

.sub-benefits {
  background-color: #83B3D3;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sub-benefits-item {
  box-sizing: border-box;
  padding: 80px 85px;
  max-width: 400px;
}

.sub-benefits-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 0;
}

.sub-benefits-description {
  margin-top: 0;
}

/* Секция с поиском на главной */

.search {
  margin: 0;
  padding: 96px 304px;
}

.search-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-text {
  margin-top: 0;
}

.search-link {
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

/* Секция с подпиской на главной */

.subscription {
  color: #ffffff;
  background-color: #000000;
  background-image: url("/images/sedona-background-image.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  padding: 96px 258px;
}

.subscription-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-text {
  margin-top: 0;
}

/* Форма с подпиской на обеих страницах */

.subscription-input {
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.subcription-button {
  font-size: 20px;
  line-height: 36px;
  border: none;
  background-color: #82B3D3;
}

/* Подвал на обеих страницах */

.footer-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 70px 40px 30px;

}

.social {
  max-width: 300px;
}

.phone-link {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.copyright {
  max-width: 150px;
}

/* див с шапкой каталога и фильтрами */

.catalog-filters {
  display: flex;
  justify-content: space-between;
}

.filter-image {
  background-color: #000000;
  background-image: url("/images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.catalog-filters-group {
  margin: 0px;
  margin-right: 70px;
  border: 0;
  padding: 0;
}

.catalog-filters-left {
  display: flex;
  justify-content: space-between;
  border: 0;
  padding: 0;
  max-width: 50%;
}

.catalog-filters-right {
  display: flex;
  justify-content: space-between;
  border: 0;
  padding: 0;
  max-width: 50%;
}

.inner-header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filters-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filters-list {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.range-slider-input {
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.catalog-filters-submit-button {
  background-color: #82B3D3;
  border: none;
}

.catalog-filters-reset-button {
  background-color: transparent;
  border: none;

}

/* Результат поиска */

.filter-result-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px;
}

.filter-result {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: left;
}

/*Отобразить как*/

.select-control {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

/*Карточки*/

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  border: 40px 70px;
}

.card-link {
  text-decoration: none;
}

.card-title {
  margin-top: 0;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.card-type {
  margin-top: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
}

.card-button {
  background-color: #756157;
}

.card-favorite {
  background-color: #82B3D3;
  border: none;
}

.card-stars {
  background-image: url(/images/star.svg);
  background-repeat: repeat;
}

.card-rating {
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/* Пагинация */
.pagination {
  display: flex;
  justify-content: start;
}

.pagination-item {
  color: #000000;
}

.pagination-link {
  background-color: #82B3D3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  width: 60px;
  height: 60px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-item:nth-child(6) .pagination-link {
  background-color: #ffffff;
  color: #000000
}

/* Секция с подпиской в каталоге */

.subscription-catalog {
  text-align: center;
  margin: 0;
  padding: 96px 258px;
}

.subscription-catalog-title {
  margin-top: 0;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-catalog-text {
  margin-top: 0;
}
